{{#if details}}
<section class="post">
  <div class="dismiss-button">&times;</div>
  {{#if date}}
  <h2>Date: {{date}}</h2>
  {{/if}}
  <p>Post: {{details}}</p>
 <button type="button" class="like-button" onclick="style.color='blue'">like</button>
</section>
{{/if}}
